
@{
    ViewBag.Title = "isortagiFatura";
    Layout = "~/Views/admin/layout.cshtml";
}

@model IEnumerable<WebApplication1.Faturalar>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                @foreach (var item in Model)
                {
                    <h4>@item.IsOrtaklari.FirmaAd.ToString() @WebApplication1.Language.Localization.Faturalari</h4>
                    break;
                }
            </header>
            <div class="panel-body">
                <section id="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>@WebApplication1.Language.Localization.FaturaNo</th>
                                <th>@WebApplication1.Language.Localization.FirmaAd</th>
                                <th>@WebApplication1.Language.Localization.UrunAd</th>
                                <th>@WebApplication1.Language.Localization.Adet</th>
                                <th>@WebApplication1.Language.Localization.BirimFiyat</th>
                                <th>@WebApplication1.Language.Localization.ToplamFiyatKDV</th>
                                <th>@WebApplication1.Language.Localization.FaturaOlusturan</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td><a href="#">@item.FaturaId</a></td>*@
                                    <td>@item.FaturaId</td>
                                    <td>@item.IsOrtaklari.FirmaAd</td>
                                    <td>@item.UrunAd</td>
                                    <td>@item.Miktar</td>
                                    <td>@item.UrunBirimFiyat</td>
                                    <td>@item.ToplamFiyatKDV</td>
                                    <td>@item.Kullanici.AdSoyad</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>